# Development Tools
bpython
flake8
pyright
black
isort
build

# Dependencies
python-dotenv
python-magic
regex
click
tqdm
numpy
jsonpycraft
requests
markdown-it-py
html2text
bs4
selenium
opencv-python
pytesseract
huggingface-hub
pygments
prompt-toolkit
# Temporary fix for python-poppler issue #93
# https://github.com/cbrunet/python-poppler/issues/93
python-poppler @ git+https://github.com/opale-ai/python-poppler.git@ca6678d

# Tree Sitter - parser generator and analysis tooling.
# Notes:
#   - Python has a builtin Abstract Syntax Tree. 
#   - Each language has its own dependency. e.g. tree-sitter-c
tree-sitter  # base package
tree-sitter-python
tree-sitter-c
