# Development Tools
bpython
isort
black

# Dependencies
numpy
requests
python-dotenv
jsonpycraft
peewee

# Core Libraries
tiktoken
openai
gguf

# UI Libraries
prompt-toolkit
ttkbootstrap
jedi-language-server
